<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * 3IT ~ Quality of Service * * * * * * * * * -->
<!-- * * * * * * * Prueba Práctica de Desarrollo UI * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div>
  <header>
  <nav class="navbar">

    <li>  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -40 355 355" width="50">
        <g class="primary-background">
          <path
            d="M93,272A19,19,0,0,1,77.44,242.1L127.75,170,40.37,150.43a19,19,0,0,1-1.75-36.63L150.27,77.3l-136.59-40A19,19,0,0,1,24.37.77L219.86,58.06a19,19,0,0,1,.56,36.32L116.18,128.46l47.55,10.67a19,19,0,0,1,11.44,29.44l-66.55,95.31A19,19,0,0,1,93,272Z" />
        </g>

          </svg>
    </li>

    <li>
      <p class="name">Alberto Hofmann</p> <i id="iconAccountCircle"class="material-icons">account_circle</i>
    </li>


  </nav>

</header>

  <section class="containerH3">
    <h3 class="indicators">Indcadores</h3>
    <h3 class="date">Diciembre 2019</h3>

  </section>

  <section class="containerRankingAndStatus">

    <article class="containerRanking">
      <div class="titleRanking">RANKING</div>

      <li class="containerText" *ngFor="let item of sortData ; index as i">
        <p class="index">{{i+1}}</p>
        <p class="textName">{{ item.name }} {{ item.lastname }}</p>
        <p class={{item.color}}>{{item.value}}</p>

      </li>


    </article>

    <article class="statuscontainer">
      <div class="titleStatus">ESTATUS</div>

      <div class="containerTitleBlueAndMeta">
        <h5 class="titleBlue">Azules</h5>
        <h5 class="meta">Meta: 100</h5>
      </div>

      <meter id="meterBlue" min="0" low="100" high="25" max="100" value={{totalBlue}} optimum="20"></meter>
      <p class="totalBlue">{{totalBlue}}</p>
      <div class="containerTitleRedAndMeta">
        <h5 class="titleRed">Rojos</h5>
        <h5 class="meta">Meta: 100</h5>
      </div>

      <meter id="meterRed" min="0" low="100" high="25" max="100" value={{totalRed}} optimum="20">valor 20</meter>
      <p class="totalRed">{{totalRed}}</p>
    </article>



  </section>

  <div class="containerButton">
    <button class="backButton"><i id="material-icons" class="material-icons">chevron_left</i>ATRÁS</button>
    <button class="nextButton">SIGUIENTE</button>

  </div>
  
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * made by 🦄 in 3IT * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->