@import '../styles';
.primary-background {
    fill: white;
    background-color: $color1;
}
.main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #222222;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
        text-align: center;
    }
}

.navbar{
  background-color: $color1;
    display: flex;
    width: 100%;
    height: 40px;
    height: 70px;
    margin-top: 0px;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    list-style: none;
}
svg{
  margin-left: 20px;

}
.li{
  color:$color3;
  margin-right: 40px;
  list-style: none;
  font-size: 18px;
}

#iconAccountCircle{
  color: white;
  margin-right: 20px;
}
.name{
  display: inline;
  margin-right: 10px;
  color:white;
  font-weight:100 ;
  font-size: 14px
}

.red{
  color: $color5;
    display: inline;
    margin-right: 10px;
    font-weight: 600;
    font-size: 14px;
    margin-left: 70px;
}


.blue{
  color: $color4;
  display: inline;
  margin-right: 10px;
  font-weight: 600;
  font-size: 14px;
  margin-left: 70px;
}

.index{
  display: inline;
  margin-left: 8px;
}
.textName{
  
  font-weight: 600;
  font-size: 14px;
  margin-left: 30px;
  width: 300px;

}
ol{
  display: flex;
  flex-direction: column;
}
.containerRanking{
  border-radius: 5px;
  border: solid 1px $color3;
  width: 260px;
  height: 200px;
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 0px;
}

.titleRanking  ,.titleStatus{
  background-color: $color2;
    color: $color3;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.containerText{
  justify-content: space-between;
  border: solid 1px $color3;
  list-style: none;
  height: 31px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.containerH3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.indicators{
  font-size: 18px;
  margin-left: 30px;
  margin-top: 25px;
}

.date{
  font-size: 18px;
  font-weight: 200;
  margin-right: 20px;
  margin-top: 25px;
}

.containerRankingAndStatus{
  display: flex;
  flex-direction: row;
  
}
.statuscontainer{
  height: 200px;
  width: 600px;
  border-radius: 5px;
  border: solid 1px $color3;
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 20px;
}

#meterBlue::-webkit-meter-bar , #meterRed::-webkit-meter-bar {
  background:$color3
}

   
#meterBlue::-webkit-meter-optimum-value{
  background:$color4
}

#meterRed::-webkit-meter-optimum-value{
  background:$color5
}

meter{
  height: 30px;
  width: 550px;
  margin-left: 20px
   }

.titleBlue , .titleRed , .meta{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 25px;
  font-size: 12px;
  font-weight: 600;
}
.totalBlue{
  color: $color3;
  position: absolute;
  top: 210px;
  left: 535px;
  font-size: 12px;
}

.totalRed{
  color: $color3;
  position: absolute;
  top: 275px;
  left: 435px;
  font-size: 12px;
}
.containerTitleBlueAndMeta , .containerTitleRedAndMeta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.backButton{
  color: $color1;
    border: $color1 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 35px;
    background: white;
}

.nextButton{
  background-color: $color1;
    color: #EEEEEE;
    width: 130px;
    height: 35px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    border:none
}

.containerButton{
  display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  
}

#material-icons{
  color:$color1
}